

.invitee-wrapper {
    margin: 15px 0;

    .actions-wrapper {
        margin-left: 10px;
        display: inline-block;

        .margin-right {
            margin-right: 5px;
        }

        p {
            display: inline-block;
            width: 200px;
            margin: 0;
        }
    }
}
