
.note-wrapper {
    padding-top: 10px;
    // width: 400px;
    margin: 20px auto 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    h4 {
        margin-bottom: 15px;
    }

    button.save {
        display: block;
        margin: 10px auto 0;
    }

    textarea {
        width: 100%;
        min-height: 65px;

        resize: vertical;
        white-space: pre-wrap;
    }

    .note {
        white-space: pre;
        margin-bottom: 15px;
    }
}
