@import "./../../styles/mixins.less";

.rsvp-wrapper {
    text-align: center;

    .summery {
        margin-top: 30px;
    }

    .invitee-table {
        margin-top: 20px;
        .display-flex;
        .justify-content(center);

        tr {
            td {
                padding: 5px 0;
            }
        }
    }
}
