@import "../../styles/mixins.less";

.film-wrapper {
    text-align: center;
    width: 100%;
    margin: 0 auto;

    video {
        width: 100%;
        max-width: 800px;
        margin: 0 10px 30px;
    }
}
